:root {
  --white: #ffffff;
  --black: #111111;
  --top-foot: #d1ddd3;
  --bg: #e3edd8;
  --orange: #e88741;
}

/* reset code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--black);
}
a:hover {
  text-decoration: underline;
  color: var(--orange);
}

li {
  list-style: none;
}

table {
  width: 100%;
}

body {
  color: var(--black);
  font-size: 1.1rem;
}

.container {
  max-width: 1280px;
  margin: auto;
}

header {
  background-color: var(--top-foot);
  padding: 0.5rem 1rem;
}
header h1 {
  font-size: 2rem;
  text-align: center;
  padding-top: 1rem;
}

.info-profile ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-style: 1rem;
}
.info-profile ul li i {
  color: var(--orange);
}

.info-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-profile .profile {
  width: 140px;
  height: 140px;
  border: 1px solid var(--orange);
  border-radius: 50%;
  overflow: hidden;
}

main {
  background-color: var(--bg);
  padding: 0.5rem 1rem;
}

main section {
  margin: 2rem 0;
}

main section h3 {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.technical_skills ul li {
  list-style-type: disc;
  list-style-position: inside;
}

.educational_qualifications table,
.educational_qualifications th,
.educational_qualifications td {
  border: 1px solid var(--orange);
  border-collapse: collapse;
}

.educational_qualifications th,
.educational_qualifications td {
  padding: 0.2rem 0.5rem;
}
.declaration img {
  max-width: 180px;
}

footer {
  background-color: var(--top-foot);
  padding: 1rem;
  text-align: center;
}
